$circle-colors: (#8B5A2B, #CD853F, #8FBC8F, #BDB76B, #D2B48C, #5D3A1A, #9F7151);




$circle-count: 5;

$animation-delay: 100ms;
$scale-factor: 0.2;

* {
  margin: 0em;
  padding: 0em;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* background: #403833; */
  font-family: 'Open Sans';
  font-weight: 100;
  color: #f2f2f2;
  font-size: 100%;
  margin: 0em;
  padding: 0em;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.vertical {
  position: absolute;
  top: -1.84em;
  left: -0.4em;
  transform: rotate(90deg);
}

/* Set for the second layer horizontal position */
.horizontal {
  position: absolute;
  top: 0em;
  left: 0em;
  transform: rotate(0deg);
}

.up {
  position: absolute;
  top: -4.7em;
  right: 12.1em;
}

.down {
  position: absolute;
  top: 2.5em;
  right: -13.5em;
  transform: rotate(180deg);
}

.circle {
  position: absolute;
  width: 15em;
  height: 15em;
  transform: rotate(45deg);
  animation: orbit 2s infinite;
  z-index: $circle-count + 1;

  @for $i from 1 through $circle-count {
    $delay: $animation-delay * ($i - 1);
    $scale: 1 - ($scale-factor * ($i - 1));
    $index: $circle-count - $i + 1;

    &:nth-child(#{$i}) {
      animation-delay: $delay;
      z-index: $index;

      &:after {
        content: '';
        position: absolute;
        width: 2em;
        height: 2em;
        border-radius: 100%;
        background: nth($circle-colors, $i);
        transform: scale($scale);
      }
    }
  }
}

@keyframes orbit {
  0% {
    transform: rotate(45deg);
  }

  5% {
    transform: rotate(45deg);
    animation-timing-function: ease-out;
  }

  70% {
    transform: rotate(405deg);
    animation-timing-function: ease-in;
  }

  100% {
    transform: rotate(405deg);
  }
}
