html,
body {
    margin: 0;
    padding: 0;
}

$ballSize: 10px; //小球尺寸
$containerSize: 150px; //容器尺寸
$n :36; //小球數量
$pDeg: 360/$n;

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.circle {
    width: $containerSize;
    height: $containerSize;
    outline: 1px solid #ddd;
    border-radius: 50%;
    position: relative;
    margin: 50px auto;
}

.dot {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: red;
    margin-left: -$ballSize/2;
    margin-top: -$ballSize/2;
    width: $ballSize;
    height: $ballSize;
    transform-origin: center $containerSize/2+$ballSize/2;

    &:nth-child(1) {

        transform: rotate(10deg);

        // &::before {
        //     content: '';
        //     position: absolute;
        //     background-color: #000;
        //     width: 100%;
        //     height: 100%;
        //     display: block;
        //     top:100%
        // }

        // &::after {
        //     content: '';
        //     position: absolute;
        //     background-color: #FFF;
        //     width: 100%;
        //     height: 100%;
        //     display: block;
        //     top:-100%
        // }

    }
}