html,
body {
    margin: 0;
    padding: 0;
}

$ballSize: 10px; //小球尺寸
$containerSize: 150px; //容器尺寸
$n: 36; //小球數量
$pDeg: 360 / $n;
$d: 2s; //動畫時間

.container {
    background: #8daebd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.circle {
    width: $containerSize;
    height: $containerSize;
    // outline: 1px solid #ddd;
    border-radius: 50%;
    position: relative;
    margin: 50px auto;
}

.dot {
    position: absolute;
    top: 0;
    left: 50%;
    // background-color: red;
    margin-left: -$ballSize/2;
    margin-top: -$ballSize/2;
    width: $ballSize;
    height: $ballSize;
    transform-origin: center $containerSize/2 + $ballSize/2;
    perspective: 70px; //景深
    transform-style: preserve-3d;

    @for $i from 1 through $n {
        &:nth-child(#{$i}) {
            transform: rotate(#{$i * $pDeg}deg);
            &::before,
            &::after {
                animation-delay: -$d / $n * ($i - 1) * 6; //延遲效果
            }
        }
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    &::before {
        content: "";
        background-color: #000;
        top: -100%;
        animation: rotation-black $d infinite;

        @keyframes rotation-black {
            0% {
                animation-timing-function: ease-in;
            }
            25% {
                transform: translate3d(0, 100%, $ballSize); //X軸，Y軸 3D位置
                animation-timing-function: ease-out;
            }
            50% {
                transform: translate3d(0, 200%, 0);
                animation-timing-function: ease-in;
            }
            75% {
                transform: translate3d(0, 100%, -$ballSize);
                animation-timing-function: ease-out;
            }
        }
    }

    &::after {
        content: "";
        background-color: #fff;
        top: 100%;
        border-radius: 50%;

        animation: rotation-white $d infinite;

        @keyframes rotation-white {
            0% {
                animation-timing-function: ease-in;
            }
            25% {
                transform: translate3d(0, -100%, -$ballSize); //X軸，Y軸 3D位置
                animation-timing-function: ease-out;
            }
            50% {
                transform: translate3d(0, -200%, 0);
                animation-timing-function: ease-in;
            }
            75% {
                transform: translate3d(0, -100%, $ballSize);
                animation-timing-function: ease-out;
            }
        }
    }
}
